/* .RedHover h1:hover{
    color: brown;
}
.RedHover h1{
    font-weight: bold;

}
.Follow h1:hover{
    font-weight: bold;
    color: brown;
}
.Follow h1{
    font-weight: bold;
}
.imgHover img:hover{
    cursor: pointer;
    
} */

.Footercontainer{
    width: 100%;
    height: 300px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}
.second{
    display: flex;
    gap: 50px;
}